.transactions.btns-container {
    position: relative;
    width: 100%;
}

.transactions.btns-container .btn {}


/*************************** start of  smaller screen*******************/

@media only screen and (max-width: 918px) {}


/** ********************end of smaller screen********************** **/

.centered-div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

button,
input,
textarea {
    outline: none !important;
}